.main {
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
}
.main-hero {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}
