//using scss for much more concise code.
.global {
  &__btn {
    position: relative;
    border: solid 1px rgba(0, 214, 252, 0.3);
    background: none;
    color: rgba(0, 214, 252, 0.5);
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    width: 200px;
    height: 70px;
    padding: 0;
    transition: all 0.25s ease;
    outline: none;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 10%;
      width: 60px;
      height: 1px;
      transform: translateY(-1px);
      background: rgba(0, 214, 252, 1);
      transition: all 0.25s ease;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 10%;
      width: 60px;
      height: 1px;
      transform: translateY(1px);
      background: rgba(0, 214, 252, 1);
      transition: all 0.25s ease;
    }
    &:hover {
      box-shadow: 1px 1px 8px rgba(0, 214, 252, 0.3);
      color: rgba(0, 214, 252, 1);
      text-shadow: 0 0 8px rgba(0, 214, 252, 0.6);
      &.global__btn:before {
        left: 0;
        width: 20px;
      }
      &.global__btn:after {
        right: 0;
        width: 20px;
      }
      .global__btn-line:before {
        bottom: 0;
      }
      .global__btn-line:after {
        top: 0;
      }
    }
  }
  &__btn-line {
    &:before {
      content: "";
      position: absolute;
      bottom: 30%;
      right: 0;
      width: 1px;
      height: 20px;
      transform: translateX(1px);
      background: rgba(0, 214, 252, 1);
      transition: all 0.25s ease;
    }
    &:after {
      content: "";
      position: absolute;
      top: 30%;
      left: 0;
      width: 1px;
      height: 20px;
      transform: translateX(-1px);
      background: rgba(0, 214, 252, 1);
      transition: all 0.25s ease;
    }
  }
}

.global__btn {
  margin-top: 5rem;
  cursor: pointer;
}
.global__btn a {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-white);
}
